@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,600;1,500;1,600&family=Montserrat:ital,wght@0,300;0,400;1,200;1,300&family=Roboto:ital,wght@0,400;1,300;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,300;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    font-family: var(--sansPro);
}


:root{
    --roboto:'Roboto', sans-serif;
    --sansPro:'Source Sans Pro', sans-serif;
    --karlo:'Montserrat', sans-serif;
    --monster:'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}

img{
    width: 100%;
    height: 100%;
    display: block;
}
/* header start  */

.header{
    width: 100%;
    height: 90vh;
    background-image: url(/img/headerbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navigation{
    width: 100%;
    height: 10vh;
    position: fixed;
    background: linear-gradient(to right, white, whitesmoke);
    box-shadow: 1px 12px 50px black,
    1px 12px 80px black,
    1px 12px 100px black;
    z-index: 1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.nav__logo{
    width: 10%;
    display: block;
}
.nav__lang select{
    border: none;
    font-size: 1.5rem;
    outline: none;
    letter-spacing: 2px;
    font-family: var(--karlo);
}

.navbar__nav a{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2rem;
    color: black;
    font-family: var(--roboto);
    letter-spacing: 2px;
}

.nav__icon i{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2rem;
}
.nav__icon .fa-bars{
    display: none;
}
.banner h1{
    position: absolute;
    top: 40%;
    left: 28%;
    font-size: 4rem;
    color: white;
    font-family: var(--roboto);
    font-style: italic;
    animation: banner 2s linear;
}
@keyframes  banner{
    0%,100%{
        word-spacing: 0px;
        opacity: 1;
    }
    50%{
        word-spacing: 15px;
        opacity: 0.7;
       
    }
}


/* blog */


.blog{
    width: 100%;
    padding: 3rem 0;
    background-color: white;
}
.blog .title{
    text-align: center;
    font-family: var(--karlo);
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.blog__content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    padding-top: 5rem;
    border-top: 1px solid black;
}

.blog__item{
    background-color: rgb(179, 179, 179);
    padding: 10px 10px;
    transition: 0.5s;
    overflow: hidden;
}
.blog__item:hover{
    border: 1px solid red;
}
.blog__img{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 1rem;
}

.blog__social{
    position: absolute;
    bottom: 10px;
    left: 15%;
    color: white;
    font-size: 1.2rem;
    display: none;
}
.blog__social i{
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.5s;
}
.blog__img:hover .blog__social{
    display: block;
}
.blog__social i:hover{
    color: red;
    font-size: 1.5rem;
}

.blog__title{
    font-family: var(--karlo);
    text-transform: capitalize;
}
.blog__title h2{
    margin-bottom:  0.2rem;
    margin-left: 4%;
}
.blog__title i{
   margin-left: 8%;
}
.blog__title p{
    font-size: 1rem;
   margin-left: 40%;
   margin-bottom: 1.5rem;
}

/* blog end  */

/* books  */

.books{
    width: 100%;
    padding: 4rem 0;
    background-color: whitesmoke;
    position: relative;
}
.books .title h2{
    text-align: center;
    font-size: 3rem;
    letter-spacing: 2px;
    font-family: var(--monster);
    text-transform: uppercase;
}
.books .title h2::after{
    position: absolute;
    content: "";
    width: 120px;
    height: 3px;
    border-bottom: 1px solid #000;
    right: 32%;
    top: 8%;
}

.books .title h2::before{
    position: absolute;
    content: "";
    width: 120px;
    height: 3px;
    border-bottom: 1px solid #000;
    left: 32%;
    top: 8%;
}

.books__content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    padding-top: 5rem;
    border-top: 1px solid black;
    margin-bottom: 3rem;
}

.books__item{
    background-color: rgb(179, 179, 179);
    padding: 10px 10px;
    transition: 0.5s;
    overflow: hidden;
}
.books__item:hover{
    border: 1px solid red;
}
.books__img{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 1rem;
}

.books__social{
    position: absolute;
    bottom: 10px;
    left: 15%;
    color: white;
    font-size: 1.2rem;
    display: none;
}
.books__social i{
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.5s;
}
.books__img:hover .books__social{
    display: block;
}
.books__social i:hover{
    color: red;
    font-size: 1.5rem;
}

.books__title{
    font-family: var(--karlo);
    text-transform: capitalize;
}
.books__title h2{
    margin-bottom:  0.2rem;
    margin-left: 4%;
}
.books__title i{
   margin-left: 8%;
}
.books__title p{
    font-size: 1rem;
   margin-left: 40%;
   margin-bottom: 1.5rem;
}
.books button {
    margin-left: 38%;
    margin-top: 3rem;
    font-size: 2rem;
    padding: 0.2rem 0.2rem;
    background-color: rgb(32, 17, 45);
    color: white;
    border-radius: 10px;
}
.news{
    width: 100%;
    padding: 4rem;
    background-color: rgb(183, 180, 180);
    position: relative;
}
.news h2{
    text-align: center;
    font-size: 3rem;
    letter-spacing: 2px;
    font-family: var(--monster);
    text-transform: uppercase;
}

.news h2::after{
    position: absolute;
    content: "";
    width: 120px;
    height: 3px;
    border-bottom: 1px solid #000;
    right: 28%;
    top: 48%;
}
.news h2::before{
    position: absolute;
    content: "";
    width: 120px;
    height: 3px;
    border-bottom: 1px solid #000;
    left: 28%;
    top: 48%;
}

.footer{
    width: 100%;
    padding: 4rem;
    background-color: #1A1A1A;
}
.footer__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.footer__item{
    cursor: pointer;
}

.footer__item h2{
    color: white;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-family: var(--karlo);
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 1.8rem;
}

.footer__item a{
    display: block;
    color: white;
    font-family: var(--sansPro);
    line-height: 3rem;
    font-size: 1.4rem;
    letter-spacing: 1px;
    opacity: 0.6;
    transition: all 0.1s linear;
}

.footer__item a:hover{
    opacity: 1;
}


.copyright{
    width: 100%;
    background-color: #282828;
}
.copyright__content{
    display: flex;
    height: 8vh;
    justify-content: space-around;
    align-items: center;
}

.copyright__content p{
    color: rgb(159, 154, 154);
    font-family: var(--monster);
}
.copyright__content a{
     color: white;
     font-weight: 900;
}
.top{
    position: fixed;
    background-color: #1A1A1A;
    width: 50px;
    height: 50px;
    right: 10px;
    top: 84%;
    z-index: 999;
    color: white;
    border-radius: 10px;
    font-size: 2rem;
    transition: 1s;
}
.header:hover .top{
    display: hidden;
}
